<section class="about hidden">
  <div class="container">
    <div class="tabs" activeTab="1">
      <button class="round-btn" onclick="prevSection()"></button>
      <div class="tabs__nav">
        <div class="tabs__head">
          <span>О компании</span>
        </div>
        <div class="tabs__head">
          <span>Карьера</span>
        </div>
        <div class="tabs__head">
          <span>Контакты</span>
        </div>
      </div>
      <div class="tabs__content">
        <div class="tabs__field">
          <div class="card">
            <div class="card__title">
              <span>О компании</span>
            </div>
            <div class="card__text">
              <span>Мы – один из крупнейших и наиболее быстро развивающихся производителей минеральных удобрений в мире.</span>
            </div>
            <div class="card__number">
              <span>Топ 100</span>
            </div>
            <div class="card__small">
              <span>крупнейших работодателей России</span>
            </div>
            <div class="card__number">
              <span>75</span>
            </div>
            <div class="card__small">
              <span>Предприятий и организаций</span>
            </div>
            <div class="card__number">
              <span>40</span>
            </div>
            <div class="card__small">
              <span>Стран, где присутствует компания</span>
            </div>
            <div class="card__number">
              <span>100</span>
            </div>
            <div class="card__small">
              <span>Стран мира, входящих в географию продаж </span>
            </div>
            <div class="card__number">
              <span>> 27 000</span>
            </div>
            <div class="card__small">
              <span>Сотрудников</span>
            </div>
          </div>
        </div>
        <div class="tabs__field">
          <div class="card">
            <div class="card__title">
              <span>Карьера с ЕвроХим</span>
            </div>
            <div class="card__text">
              <span>Это наш «карьерный калькулятор». Из него ты узнаешь из каких «слагаемых» складывается карьерный рост. </span>
            </div>
            <div class="roadmap">
              <div class="roadmap__block">
                <div class="roadmap__title">
                  <span>23 - 26 лет</span>
                </div>
                <div class="roadmap__subtitle">
                  <span>СПЕЦИАЛИСТ / МАСТЕР</span>
                </div>
              </div>
              <div class="roadmap__block">
                <div class="roadmap__title">
                  <span>26 - 31</span>
                </div>
                <div class="roadmap__subtitle">
                  <span>ОПЫТНЫЙ ИНЖЕНЕР /ЗАМЕСТИТЕЛЬ НАЧАЛЬНИКА УЧАСТКА </span>
                </div>
              </div>
              <div class="roadmap__block">
                <div class="roadmap__title">
                  <span>31 - 38 лет</span>
                </div>
                <div class="roadmap__subtitle">
                  <span>РУКОВОДИТЕЛЬ ОТДЕЛА</span>
                </div>
              </div>
              <div class="roadmap__block">
                <div class="roadmap__title">
                  <span>38 - 43 года</span>
                </div>
                <div class="roadmap__subtitle">
                  <span>РУКОВОДИТЕЛЬ УПРАВЛЕНИЯ</span>
                </div>
              </div>
              <div class="roadmap__block">
                <div class="roadmap__title">
                  <span>43 - 49 лет</span>
                </div>
                <div class="roadmap__subtitle">
                  <span>ДИРЕКТОР ПО НАПРАВЛЕНИЮ</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tabs__field">
          <div class="card">
            <div class="card__title">
              <span>Контакты</span>
            </div>
            <div class="card__text">
              <span>Горнорудный дивизион компании «ЕвроХим» - 3 горнорудных предприятия на территории РФ</span>
            </div>
            <div class="card__subtitle">
              <span>ООО «ЕвроХим-ВолгаКалий»</span>
            </div>
            <div class="card__subtext">
              <span>г. Котельниково, Волгоградская областьТелефон: +7 (84476) 5-50-10E-mail: Resume_ktl@eurochem.ru</span>
            </div>
            <div class="card__subtitle">
              <span>АО «Ковдорский ГОК»</span>
            </div>
            <div class="card__subtext">
              <span>г. Ковдор, Мурманская областьТелефон: +7 (921) 510-26-48 / +7 (921) 170-12-08E-mail: resume_kdr@eurochem.ru </span>
            </div>
            <div class="card__subtitle">
              <span>ООО «ЕвроХим – Усольский калийный комбинат»</span>
            </div>
            <div class="card__subtext">
              <span>г. Березники, Пермский крайТелефон: 8 (3424) 25-62-19E-mail: rezume_usl@eurochem.ru</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="blue-btn" onclick="nextSection()">
      <span>Начать викторину</span>
    </button>
  </div>
</section>
