<section class="about active">
  <div class="container">
    <div class="tabs" activeTab="1">
      <button class="round-btn switch-back"><span>&#60;</span></button>
      <div class="tabs__nav">
        <div class="tabs__head">
          <span class="tabs__span tabs__span--head">Tab 1</span>
        </div>
        <div class="tabs__head">
          <span class="tabs__span tabs__span--head">Tab 2</span>
        </div>
        <div class="tabs__head">
          <span class="tabs__span tabs__span--head">Tab 3</span>
        </div>
      </div>
      <div class="tabs__content">
        <div class="tabs__field">
          <div class="card">
            <div class="card__title">
              <span class="card__span card__span--title">О компании</span>
            </div>
            <div class="card__text">
              <span class="card__span card__span--text"
                >Мы – один из крупнейших и наиболее быстро развивающихся производителей минеральных удобрений в мире.</span
              >
            </div>
            <div class="card__number">
              <span class="card__span card__span--number">Топ 100</span>
            </div>
            <div class="card__small">
              <span class="card__span card__span--small">крупнейших работодателей России</span>
            </div>
            <div class="card__number">
              <span class="card__span card__span--number">75</span>
            </div>
            <div class="card__small">
              <span class="card__span card__span--small">Предприятий и организаций</span>
            </div>
            <div class="card__number">
              <span class="card__span card__span--number">40</span>
            </div>
            <div class="card__small">
              <span class="card__span card__span--small">Стран, где присутствует компания</span>
            </div>
            <div class="card__number">
              <span class="card__span card__span--number">100</span>
            </div>
            <div class="card__small">
              <span class="card__span card__span--small">Стран мира, входящих в географию продаж </span>
            </div>
            <div class="card__number">
              <span class="card__span card__span--number">>27 000</span>
            </div>
            <div class="card__small">
              <span class="card__span card__span--small">Сотрудников</span>
            </div>
          </div>
        </div>
        <div class="tabs__field">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut corporis dolor quod, facilis corrupti sit dicta explicabo assumenda quo
          voluptatem, minus nesciunt laudantium. Fuga illo culpa iste provident qui perspiciatis quidem dolores dignissimos distinctio, debitis
          architecto quos repudiandae placeat sapiente. Quia totam veniam ipsam fuga dolor, commodi labore expedita quisquam.
        </div>
        <div class="tabs__field">Tab content 3</div>
      </div>
    </div>
    <button class="blue-btn switch-front">
      <span>Начать викторину</span>
    </button>
  </div>
</section>
