<section class="form hidden">
  <div class="container">
    <div class="form__body">
      <button class="form__back round-btn" onclick="prevSection()"></button>
      <form class="form__form">
        <p class="form__title"><span>Расскажи о себе</span></p>
        <p class="form__subtitle"><span>Заполни заявку и мы обязательно свяжемся с тобой:</span></p>
        <input class="form__input" type="text" placeholder="Как тебя зовут?" />
        <input class="form__input" type="text" placeholder="Где ты учишься?" />
        <input class="form__input" type="text" placeholder="Твой контактный номер?" />
        <input class="form__input" type="email" placeholder="Твой email?" />
        <button class="form__send blue-btn">
          <span>Отправить</span>
        </button>
      </form>
    </div>
  </div>
</section>
