<section class="intro hidden">
  <div class="container">
    <div class="intro__hello">
      <div class="intro__hand">
        <img src="/img/intro_hand.svg" alt="intro__hand" />
      </div>
    </div>
    <div class="intro__logo">
      <img src="/img/intro_logo.svg" alt="intro_logo" />
    </div>
    <h1 class="intro__title">
      <span class="intro__span intro__span--title">Добро пожаловать</span>
    </h1>
    <p class="intro__subtitle">
      <span class="intro__span intro__span--subtitle">Приложение-викторина для знакомства с компанией</span>
    </p>
    <button class="switch-front">front</button>
  </div>
</section>
