<section class="intro active">
  <div class="container">
    <div class="intro__body">
      <div class="intro__hello">
        <div class="intro__hand">
          <img src="/img/polygon.svg" alt="intro__hand" />
        </div>
      </div>
      <div class="intro__logo">
        <img src="/img/intro_logo.svg" alt="intro_logo" />
      </div>
      <h1 class="intro__title">
        <span>Добро пожаловать</span>
      </h1>
      <p class="intro__subtitle">
        <span>Приложение-викторина для знакомства с компанией</span>
      </p>
      <div class="range-button">
        <div class="range-button__wrap">
          <input class="range-button__input" type="range" value="0" min="0" max="30" step="0.1" />
          <div class="range-button__progress"></div>
          <div class="range-button__span"><span> Проведите пальцем, чтобы начать</span></div>
        </div>
      </div>
    </div>
  </div>
</section>
