<section class="questions hidden">
  <div class="container">
    <div class="questions__body">
      <div class="questions__progress">
        <div class="questions__bar"></div>
      </div>
      <button class="questions__back round-btn"></button>
      <div class="questions__cards">
        <div class="question">
          <div class="question__pic">
            <img src="img/question_01.jpg" alt="" />
          </div>
          <div class="question__title">
            <span>Верно ли высказывание?</span>
          </div>
          <div class="question__text">
            <span>В XIX веке впервые был применен проходческий щит</span>
          </div>
        </div>
        <div class="question">
          <div class="question__pic">
            <img src="img/question_02.jpg" alt="" />
          </div>
          <div class="question__title">
            <span>Российская горнодобывающая промышленность занимает 6%?</span>
          </div>
          <div class="question__text">
            <span>В мировом масштабе</span>
          </div>
        </div>
        <div class="question">
          <div class="question__pic">
            <img src="img/question_03.jpg" alt="" />
          </div>
          <div class="question__title">
            <span>Здесь расположены крупнейшие производители калийных удобрений?</span>
          </div>
          <div class="question__text">
            <span></span>
          </div>
        </div>
        <div class="question">
          <div class="question__pic">
            <img src="img/question_04.jpg" alt="" />
          </div>
          <div class="question__title">
            <span>Одно из предприятий компании ЕвроХим находится в Бразилии?</span>
          </div>
          <div class="question__text">
            <span></span>
          </div>
        </div>
        <div class="question">
          <div class="question__pic">
            <img src="img/question_05.jpg" alt="" />
          </div>
          <div class="question__title">
            <span>Достоверен факт?</span>
          </div>
          <div class="question__text">
            <span>Расход топлива у этого силача 1000 литров на 100км.</span>
          </div>
        </div>
      </div>
      <div class="questions__buttons">
        <button class="questions__no">No</button>
        <button class="questions__yes">Yes</button>
      </div>
    </div>
  </div>
</section>
