.intro {
  color: #ffffff;

  &__body {
    display: flex;
    flex-direction: column;
    gap: em(24);
  }

  &__hello {
    width: 90%;
    height: em(355);
    background: #ffffff;
    box-shadow: inset 0 0 70px 20px rgb(0 60 101 / 43%);
    border-radius: 0 em(192) em(192) 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: em(-20);
  }

  &__pic {
    width: em(200);
    height: em(200);
    padding-right: em(24);

    & > svg {
      display: block;
      width: 100%;
      height: 100%;

      & > path {
        fill: #052039;
      }
    }
  }

  &__logo {
    width: em(211);
    height: em(46);

    & > img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    & > span {
      font-weight: 700;
      line-height: 122.222222%; /* 44/36 */
      font-size: em(36);
    }
  }

  &__subtitle {
    margin-bottom: em(10);

    & > span {
      font-weight: 400;
      line-height: 118.75%; /* 19/16 */
      font-size: em(16);
    }
  }
}
