.questions {
  height: 80%;

  & > .container {
    height: 100%;
  }

  &__body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }

  &__cards {
    position: relative;
    height: em(500);
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }

  &__back {
    position: absolute;
    top: em(-15);
    left: em(-15);
    z-index: 10;
    box-shadow: 0 0 13px #000;
  }

  &__no {
  }

  &__yes {
  }
}

.question {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  border-radius: em(16);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: em(16);
  transition: all 0.5s ease-out;

  &.hidden {
    transform: scale(0);
    pointer-events: none;
  }

  &.active {
    opacity: 1;
    transform: scale(1);
    z-index: 5;
  }

  &.lefted {
    transform: translateX(-145%) rotate(-35deg);
  }

  &.righted {
    transform: translateX(145%) rotate(35deg);
  }

  &__pic {
    width: 100%;
    height: em(400);
    background-color: gray;
    border-radius: em(16);
    overflow: hidden;

    & > img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    width: 100%;
    text-align: left;
    margin-top: em(30);

    & > span {
      font-weight: 700;
      font-size: em(20);
      line-height: 80%; /* 24/30 */
      color: #003c65;
    }
  }

  &__text {
    width: 100%;
    text-align: left;
    margin-top: em(10);

    & > span {
      font-weight: 400;
      font-size: em(14);
      line-height: 121.428571%; /* 17/14 */
      color: #003c65;
    }
  }
}
