.round-btn {
  width: em(36);
  height: em(36);
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 171, 228, 0.3), 0px 4px 8px rgba(0, 171, 228, 0.3);

  & > span {
    font-weight: 900;
    font-size: em(24);
    line-height: 156%;
  }
}

.blue-btn {
  padding: em(14);
  color: #ffffff;
  background: #00abe4;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
  border-radius: em(30);
  width: 100%;
  margin-top: em(18);

  & > span {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
  }
}
