.round-btn {
  width: em(36);
  height: em(36);
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0 0 em(13) #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: '';
    width: em(24);
    height: em(24);
    background: 0 0 / 100% 100% url(../img/chevron.svg);
    margin-right: 2px;
  }
}

.blue-btn {
  padding: em(14);
  color: #ffffff;
  background: #00abe4;
  box-shadow: 0 0 em(13) #fff;
  border-radius: em(30);
  width: 100%;
  margin-top: em(24);

  & > span {
    font-weight: 400;
    font-size: em(16);
    line-height: 100%;
  }
}
