@font-face {
  font-family: 'Proxima Nova Bl';
  src: url('../files/fonts/ProximaNova-Black.eot');
  src: local('Proxima Nova Black'), local('ProximaNova-Black'),
      url('../files/fonts/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
      url('../files/fonts/ProximaNova-Black.woff2') format('woff2'),
      url('../files/fonts/ProximaNova-Black.woff') format('woff'),
      url('../files/fonts/ProximaNova-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bl';
  src: url('../files/fonts/ProximaNova-BlackIt.eot');
  src: local('Proxima Nova Black Italic'), local('ProximaNova-BlackIt'),
      url('../files/fonts/ProximaNova-BlackIt.eot?#iefix') format('embedded-opentype'),
      url('../files/fonts/ProximaNova-BlackIt.woff2') format('woff2'),
      url('../files/fonts/ProximaNova-BlackIt.woff') format('woff'),
      url('../files/fonts/ProximaNova-BlackIt.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url('../files/fonts/ProximaNova-BoldIt.eot');
  src: local('Proxima Nova Bold Italic'), local('ProximaNova-BoldIt'),
      url('../files/fonts/ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype'),
      url('../files/fonts/ProximaNova-BoldIt.woff2') format('woff2'),
      url('../files/fonts/ProximaNova-BoldIt.woff') format('woff'),
      url('../files/fonts/ProximaNova-BoldIt.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url('../files/fonts/ProximaNova-Regular.eot');
  src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
      url('../files/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
      url('../files/fonts/ProximaNova-Regular.woff2') format('woff2'),
      url('../files/fonts/ProximaNova-Regular.woff') format('woff'),
      url('../files/fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}