:root {
  --app-height: 100%;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-size: 4.10256vw;
  font-family: 'Montserrat', sans-serif;
  position: relative;

  @media screen and (min-width: 991px) {
    font-size: 2vw;
  }

  @media screen and (max-width: 540px) {
    font-size: 2.7vw;
  }

  @media screen and (max-width: 440px) {
    font-size: 4.4vw;
  }

  @media screen and (max-width: 420px) {
    font-size: 4.10256vw;
  }

  @media screen and (max-width: 388px) {
    font-size: 3.8vw;
  }

  @media screen and (max-width: 375px) {
    font-size: 3.7vw;
  }
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 em(20);
}

.content {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  background: #052039 0 0/150px 150px url(../img/back_grid.svg);
  position: relative;
}

section {
  width: 100%;
  transition: all 0.5s ease-out;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  &.active {
    opacity: 1;
    pointer-events: all;
  }
}